{% extends "base.html.twig" %}
{% block main %}
    <div class="row">
        <div class="span12">
            <div class="widget ">
                <div class="widget-header">
                    <i class="icon-user"></i>
                    <h3>Modifier mon mot de passe</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    {{ form_start(form) }}

                    {{ form_errors(form) }}

                    {{ form_row(form.password) }}

                    <div class="button"> <input type="submit" value="Sauvegarder" class="btn-primary"></div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}